[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "theme/hello-friend"]
	path = theme/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend/
